* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: ;
    src: url();
} */

#first_page {
    height: 100vh;
   
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(./hero-bg.jpg);
}

#top-menu {
    background-color: #1C1C1C;
    color: white;

    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#top-menu i {
    color: yellow;
}
.color{
    background: #1c1c1cbf;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    padding: 20px;
}

.logo {
    font-size: 33px;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    /* margin-right: 10px; */
    padding: 30px 15px 5px 15px;

    transition-property: all;
    transition-duration: 0.6s;


    font-family: url('./fonts//fontawesome-webfont.ttf');
    text-transform: uppercase;
}

.menu .active {
    background-color: #1C1C1C;
}

.menu a:hover {
    background-color: #1C1C1C;
}


#body {
    width: 40%;
    padding: 20px;
    
    font-size: 25px;
    position: relative;
    margin-left: 150px;
    margin-top: 130px;
}
h1{
    color: #fff;
}

#body .h1 {
    color: yellow;
}

#body p {
    margin: 20px 0;
    color: #fff;
    font-size: 16px;
}

#body button {
    margin-top: 10px;
    width: 200px;
    padding: 15px 0;
    font-size: 16px;

    
}
.bot{
    background-color: yellow;
    border: none;
    color: white;
}
.bot:hover{
    background: transparent;
    border: 2px solid yellow;
    color: yellow;
    cursor: pointer;
}
.chot:hover{
    background: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.para{
    margin: 20px 0;
}
.middle
+
{
    display: flex;
}
.middle{
    padding: 40px;
    position: relative;
}
.about{
    width: 40%;
    background-color: #fff;
    position: absolute;
    top: 30%;
    right: 200px;
    padding: 30px;
    box-shadow: 0 0 2px gray;
}
.out{
    color: black;
    position: relative;
}
.out::after{
    content: "";
    width: 60px;
    height: 7px;
    background-color: #f1db25;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.about button{
    background-color: #f1db25;
    padding: 15px 30px;
    transition: all 0.7s;
    border: none;
}
.about button:hover{
    background: transparent;
    color: #f1db25;
    cursor: pointer;
    border: solid 2px yellow ;
}
.container{
    
    height: 100vh;
    background-color: #1C1C1C;
   
}
h2{
  
}
.card{
    width: 350px;
  padding-top: 50px;
    background-color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    
}
.inner{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
h3{
    padding-top: 30px;
    font-weight: 900;
}
.card-text{
    padding-top: 30px;
    text-align: center;
}
.card button{
    margin: 30px 0;
    background-color: #f1db25;
    padding: 15px 35px;
    transition: all 0.7s;
    border: none;
   
    
}
.card button:hover{
    background: transparent;
    color: #f1db25;
    cursor: pointer;
    border: solid 2px yellow ;
}

.not{
    text-align:center ;
    color: white;
    padding-top: 100px;
    
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    margin: 20px 0 30px 0;
}

.inner i{
    font-size: 70px;
}
.not::after{
    content: "";
    width: 60px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    left: 48%;
    bottom: -10px;
    border-radius: 10px;
}
.card p{
    font-size: 18px;
    
}
.second{
    text-align: center;
    height: 70vh;
}
.sec{
width: 50%;
margin: auto;
}
.pot{
    text-align:center ;
    color: black;
    padding-top: 100px;
    
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    margin: 20px 0 30px 0;
}
.pot::after{
    content: "";
    width: 60px;
    height: 7px;
    background-color: yellow;
    position: absolute;
    left: 48%;
    bottom: -10px;
    border-radius: 10px;
}
.sec img{
    margin-top: 30px;
    margin-bottom: 15px;
}
.sec p{
    margin-top:  15px;
    
}
.sec h4{
    font-size: 20px;
}
.third{
    height: 100vh;
    background-image: url(./contact-bg.jpg);
}
.search-input{
    margin: 15px 0;
    padding: 1px 2px 1px 15px;
    width: 530px;
    height: 45px;
    font-size: 15px;
    color: black;
}
.form{
    margin: 0 200px;
    padding: 0 15px;
    text-align: center;
}
.search-in{
    width: 530px;
    height: 120px;
    margin: 15px 0;
    font-size: 15px;
    color: black;
}
.form button{
    margin: 30px 0;
    background-color: #f1db25;
    padding: 15px 60px;
    transition: all 0.7s;
    border: none;
   
    
}
.form button:hover{
    background:transparent;
    color: #f1db25;
    cursor: pointer;
    border: solid 2px yellow ;
}
.fourth{
    height: 100vh;
    text-align: center;
    
}
.text{
    width: 290px;
    height: 110px;
    background: #1c1c1cbf;
    color: white;
    padding-top: 25px;
  
}
.image{
    position: relative;
}
.image .text{
    position: absolute;
    top: 240px;
}
.pic{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 50px;
}
h6{
    font-size: 20px;
}
h5{
font-size: 15px;
font-weight: 100;
margin-top: 5px;
}
.fourth p{
font-size: 18px;
}
.fourth button{
    margin: 30px 0;
    background-color: #f1db25;
    padding: 15px 60px;
    transition: all 0.7s;
    border: none;
   
    
}
.fourth button:hover{
    background:transparent;
    color: #f1db25;
    cursor: pointer;
    box-shadow: solid 2px yellow ;
}
footer{
    height: 50vh;
    background: #101010;
    color: #fff;
    
}
.foot{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.foot ul{
    list-style: none;
    align-items: center;
}
.foot button{
    margin: 10px 0;
    background-color: #f1db25;
    padding: 15px 60px;
    transition: all 0.7s;
    border: none;
    border-radius: 20px;
    
   

}
.foot .logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot p{
    padding: 5px 5px;
}
.copyright{
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
}
